absl-py==2.1.0
aiofiles==22.1.0
aiosqlite==0.19.0
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
astor==0.8.1
attrs==24.2.0
Babel==2.14.0
backcall==0.2.0
baselines @ git+https://github.com/openai/baselines.git@ea25b9e8b234e6ee1bca43083f8f3cf974143998
beautifulsoup4==4.13.4
bleach==6.0.0
certifi==2025.1.31
cffi==1.15.1
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==2.2.1
colorama==0.4.6
comm==0.1.4
contextlib2==21.6.0
debugpy==1.7.0
decorator==5.1.1
defusedxml==0.7.1
dm-sonnet==1.36
entrypoints==0.4
exceptiongroup==1.2.2
fastjsonschema==2.21.1
future==1.0.0
gast==0.2.2
gfootball==2.10.2
google-pasta==0.2.0
grpcio==1.62.3
gym==0.15.7
h5py==2.10.0
idna==3.10
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==8.1.6
jedi==0.19.2
jinja2==3.1.6
joblib==1.3.2
json5==0.9.16
jsonschema==4.17.3
jupyter==1.1.1
jupyter-client==7.4.9
jupyter-console==6.6.3
jupyter-core==4.12.0
jupyter-events==0.6.3
jupyter-server==1.24.0
jupyter-server-fileid==0.9.3
jupyter-server-ydoc==0.8.0
jupyter-ydoc==0.2.5
jupyterlab==3.6.8
jupyterlab-pygments==0.2.2
jupyterlab-server==2.24.0
jupyterlab-widgets==3.0.14
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
Markdown==3.4.4
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
mistune==3.0.2
nbclassic==1.2.0
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.8.0
nest-asyncio==1.6.0
notebook==6.5.7
notebook-shim==0.2.4
numpy==1.21.6
opencv-python==4.11.0.86
opt-einsum==3.3.0
packaging==24.0
pandocfilters==1.5.1
parso==0.8.4
pickleshare==0.7.5
pkgutil-resolve-name==1.3.10
prometheus-client==0.17.1
prompt-toolkit==3.0.48
protobuf==3.19.6
psutil==7.0.0
pycparser==2.21
pygame==2.6.1
pyglet==1.5.0
pygments==2.17.2
pyrsistent==0.19.3
python-dateutil==2.9.0.post0
python-json-logger==3.0.1
pytz==2025.2
pywin32==308
pywinpty==2.0.10
PyYAML==6.0.1
pyzmq==26.2.1
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
scipy==1.7.3
semantic-version==2.10.0
Send2Trash==1.8.3
six==1.17.0
sniffio==1.3.1
soupsieve==2.4.1
tensorboard==1.15.0
tensorflow==1.15.5
tensorflow-estimator==1.15.1
tensorflow-probability==0.8.0
termcolor==2.3.0
terminado==0.17.1
tinycss2==1.2.1
tomli==2.0.1
tornado==6.2
tqdm==4.67.1
traitlets==5.9.0
typing-extensions==4.7.1
urllib3==2.0.7
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.6.1
Werkzeug==2.2.3
widgetsnbextension==4.0.14
wrapt==1.16.0
y-py==0.6.2
ypy-websocket==0.8.4
zipp==3.15.0
